html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .4em .75em .3em;
  text-align: center;
}

body {
  background-color: #fff;
}

.btn {
  display: inline-block;
  margin: 0;
  padding: .4em;
  border-radius: 8px;
  border-width: 3px;
  font-size: 1.125rem;
}

.btn.btn-primary.btn-medium {
  color: #fff;
  background-color: #333;
  text-decoration: none;
}

.btn.btn-primary.btn-medium:hover {
  background-color: #000;
}

.btn.btn-subtle.btn-medium {
  color: #fff;
  background-color: #ccc;
  text-decoration: none;
}

.btn.btn-subtle.btn-medium:hover {
  background-color: #666;
}

.btn.btn-ghost.btn-medium {
  color: #000;
  background-color: #fff;
  border-style: solid;
  text-decoration: none;
}

.btn.btn-ghost.btn-medium:hover {
  background-color: #666;
}

.btn.btn-warning.btn-medium {
  color: #fff;
  background-color: #f33;
  text-decoration: none;
}

.btn.btn-warning.btn-medium:hover {
  background-color: #933;
}

.btn-small {
  display: inline-block;
  margin: 0;
  padding: .3em;
  border-radius: 8px;
  border-width: 3px;
  font-size: .875rem;
}

.btn.btn-primary.btn-small {
  color: #fff;
  background-color: #333;
  text-decoration: none;
}

.btn.btn-primary.btn-small:hover {
  background-color: #000;
}

.btn.btn-subtle.btn-small {
  color: #fff;
  background-color: #ccc;
  text-decoration: none;
}

.btn.btn-subtle.btn-small:hover {
  background-color: #666;
}

.btn.btn-ghost.btn-small {
  color: #000;
  background-color: #fff;
  border-style: solid;
  text-decoration: none;
}

.btn.btn-ghost.btn-small:hover {
  background-color: #666;
}

.btn.btn-warning.btn-small {
  color: #fff;
  background-color: #f33;
  text-decoration: none;
}

.btn.btn-warning.btn-small:hover {
  background-color: #933;
}

.btn-big {
  display: inline-block;
  margin: 0;
  padding: .75em;
  border-radius: 8px;
  border-width: 3px;
  font-size: 1.5rem;
}

.btn.btn-primary.btn-big {
  color: #fff;
  background-color: #333;
  border-style: solid;
  text-decoration: none;
}

.btn.btn-primary.btn-big:hover {
  background-color: #000;
}

.btn.btn-subtle.btn-big {
  color: #fff;
  background-color: #ccc;
  border-style: solid;
  text-decoration: none;
}

.btn.btn-subtle.btn-big:hover {
  background-color: #666;
}

.btn.btn-ghost.btn-big {
  color: #000;
  background-color: #fff;
  border-style: solid;
  text-decoration: none;
}

.btn.btn-ghost.btn-big:hover {
  background-color: #666;
}

.btn.btn-warning.btn-big {
  color: #fff;
  background-color: #f33;
  text-decoration: none;
}

.btn.btn-warning.btn-big:hover {
  background-color: #933;
}
