html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .75em .4em .3em;
  text-align: center;
  display: block;
}

body {
  background-color: #fff;
}

.btn {
  display: inline-block;
  margin: 0;
  padding: .4em;
  border-radius: 8px;
  border-width: 3px;
  font-size: 1.125rem;
  color: #fff;
  background-color: #333;
  text-decoration: none;
}

.btn:hover {
  background-color: #000;
}

.btn-small {
  display: inline-block;
  margin: 0;
  padding: .3em;
  border-radius: 8px;
  border-width: 3px;
  font-size: .875rem;
  color: #fff;
  background-color: #333;
  text-decoration: none;
}

.btn-small:hover {
  background-color: #000;
}

.btn-big {
  display: inline-block;
  margin: 0;
  padding: .75em;
  border-radius: 8px;
  border-width: 3px;
  font-size: 1.5rem;
  color: #fff;
  background-color: #333;
  text-decoration: none;
}

.btn-big:hover {
  background-color: #000;
}

.btn-subtle {
  display: inline-block;
  margin: 0;
  padding: .4em;
  border-radius: 8px;
  border-width: 3px;
  font-size: 1.125rem;
  color: #fff;
  background-color: #ccc;
  text-decoration: none;
}

.btn-subtle:hover {
  background-color: #666;
}

.btn-ghost {
  display: inline-block;
  margin: 0;
  padding: .4em;
  border-radius: 8px;
  border-width: 3px;
  font-size: 1.125rem;
  color: #000;
  background-color: #fff;
  border-style: solid;
  text-decoration: none;
}

.btn-ghost:hover {
  background-color: #666;
}

.btn-warning {
  display: inline-block;
  margin: 0;
  padding: .4em;
  border-radius: 8px;
  border-width: 3px;
  font-size: 1.125rem;
  color: #fff;
  background-color: #f33;
  text-decoration: none;
}

.btn-warning:hover {
  background-color: #933;
}

.btn-subtle-small {
  display: inline-block;
  margin: 0;
  padding: .3em;
  border-radius: 8px;
  border-width: 3px;
  font-size: .875rem;
  color: #fff;
  background-color: #ccc;
  text-decoration: none;
}

.btn-subtle-small:hover {
  background-color: #666;
}

.btn-ghost-small {
  display: inline-block;
  margin: 0;
  padding: .3em;
  border-radius: 8px;
  border-width: 3px;
  font-size: .875rem;
  color: #000;
  background-color: #fff;
  border-style: solid;
  text-decoration: none;
}

.btn-ghost-small:hover {
  background-color: #666;
}

.btn-warning-small {
  display: inline-block;
  margin: 0;
  padding: .3em;
  border-radius: 8px;
  border-width: 3px;
  font-size: .875rem;
  color: #fff;
  background-color: #f33;
  text-decoration: none;
}

.btn-warning-small:hover {
  background-color: #933;
}

.btn-subtle-big {
  display: inline-block;
  margin: 0;
  padding: .75em;
  border-radius: 8px;
  border-width: 3px;
  font-size: 1.5rem;
  color: #fff;
  background-color: #ccc;
  text-decoration: none;
}

.btn-subtle-big:hover {
  background-color: #666;
}

.btn-ghost-big {
  display: inline-block;
  margin: 0;
  padding: .75em;
  border-radius: 8px;
  border-width: 3px;
  font-size: 1.5rem;
  color: #000;
  background-color: #fff;
  border-style: solid;
  text-decoration: none;
}

.btn-warning-big {
  display: inline-block;
  margin: 0;
  padding: .75em;
  border-radius: 8px;
  border-width: 3px;
  font-size: 1.5rem;
  color: #fff;
  background-color: #f33;
  text-decoration: none;
}

.btn-warning-big:hover {
  background-color: #933;
}
